.banner {
    background: linear-gradient(135deg, #FF6F61, #D5006D); /* Gradiente em tons quentes */
    color: #FFFFFF; /* Branco */
    text-align: center;
    padding: 3em 2em; /* Aumentei o padding */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.banner__titulo {
    font-size: 24px; /* Aumentei o tamanho da fonte */
    font-weight: 800; /* Aumentei o peso da fonte para mais destaque */
    margin-bottom: 0.5em; /* Espaço abaixo do título */
}

.banner__texto {
    font-weight: 500;
    margin: 1.5em 0; /* Aumentei o espaçamento superior e inferior */
    font-size: 16px; /* Aumentei o tamanho da fonte do texto */
}

.banner__pesquisa {
    background-color: transparent;
    border: 2px solid #FFFFFF; /* Branco */
    color: #FFFFFF; /* Branco */
    border-radius: 30px; /* Bordas mais arredondadas */
    padding: 1em 1.5em; /* Aumentei o padding lateral */
    width: 100%;
    transition: border-color 0.3s; /* Transição suave para a borda */
}

.banner__pesquisa:focus {
    border-color: #D5006D; /* Tom mais escuro ao focar */
    outline: none; /* Remove o contorno padrão */
}

.banner__pesquisa::placeholder {
    font-family: 'Roboto', sans-serif; /* Altere para a fonte desejada */
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(255, 255, 255, 0.7); /* Transparente para o placeholder */
    background: url("../img/Lupa.svg") no-repeat;
    background-position: 1em center; /* Centralizar o ícone */
    padding-left: 2.5em; /* Espaço para o ícone */
}
